services:

  readablock_server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    command: python manage.py runserver 0.0.0.0:8000
    working_dir: /app
    volumes:
      - ./server:/app
    environment:
      - DEBUG=True
    ports:
      - "8000:8000"
    depends_on:
      - redis

  readablock_client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    command: npm run dev -- --host 0.0.0.0 --port 5173
    working_dir: /app
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:

